# Environnement virtuel
venv/
env/
ENV/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de configuration sensibles
.env
client_secrets.json

# Logs
logs/
*.log

# Fichiers système
.DS_Store
Thumbs.db 
token.json
